<!-- <p>product-filters works!</p>
<div class="wrapper">
    <div class="container">
        <input type="text" class="form" ngModel="searchText" placeholder="..." >
        <button class="primary" type="button" >Search</button>
    </div>
</div> -->

<div class="content" role="main">
    <div class="card">
        <div class="form-group">
            <input type="text" #searchBar [(ngModel)]="searchText" name="searchBar" placeholder="Enter text to search">
            <button type="submit" (click)="filteredArr(res, searchText)" for="searchBar">Search</button>
        </div>
    </div>
</div>