version: '3.8'
services:
  db:
    image: docker.io/library/mysql:latest
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
    volumes:
      - ./db/mysql:/var/lib/mysql
      - ./db/dumps:/docker-entrypoint-initdb.d
    restart: always
  adminer:
    image: docker.io/library/adminer:latest
    restart: always
    ports: "8081:8080"
  backend:
    build: ./backend
    environment:
      - DB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
    ports: "8080:8080"
    restart: always
  frontend:
    build: ./frontend
    ports: "4200:4200"
    restart: always
