<app-navbar></app-navbar>
<div class="container">
    <div id="options">
        <h1>Administration page</h1>
        <p>Insert Product</p>
        <div class="fields">

            <div class="field-div"><input type="text" [(ngModel)]="tmp.product_name" placeholder="Product Name"></div>
            <div class="field-div"><input type="text" [(ngModel)]="tmp.price" placeholder="Price"></div>
            <div class="field-div"><input type="text" [(ngModel)]="tmp.description" placeholder="Tag"></div>
            <div class="field-div"><button
                    (click)="submit(tmp.product_name, tmp.price, tmp.description)">Submit</button></div>
        </div>
    </div>
</div>