<!-- <div class="navbar">
    <ul>
        <a id="a1" class="hover" href="" disabled>Home</a>
        <a id="a2" class="hover" href="">Products</a>
        <a id="a3" class="hover" href="">Customer Login/Registration</a>
        <a id="a4" class="hover" href="">Cart</a>
    </ul>
</div> -->

<nav class="navbar">
    <ul class="navbar-links">
        <a routerLink="/homepage" routerLinkActive="active-link">Home</a>
        <a routerLink="/products" routerLinkActive="active-link">Products</a>
        <a routerLink="/validation" routerLinkActive="active-link">Customer Login/Registration</a>
        <a routerLink="/about" routerLinkActive="active-link">About</a>
    </ul>
</nav>