<div class="wrapper">
    <div class="container">
        <div class="title">
            <h1>Products</h1>
        </div>

        <div class="product">
            <div class="product-container">

                <div class="product-item" *ngFor="let product of filteredList; index as ii">
                    <div class="product-img">
                        <img src="{{product.pImagePath}}" alt="image">
                        <div>
                            <button type="button" (click)="setCart(product)" class="add-btn">Add to Cart</button>
                        </div>
                    </div>
                    <div class="product-content">
                        <a href="#" class="product-name">{{product.pName}}</a>
                        <div>
                            <span class="price">$ {{product.pPrice}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>